@import url("accueil.css");
@import url("discographie.css");

@font-face {
    font-family: dark world;
    src: url(typo/Dark World.ttf);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: dark world;
}