@import url("accueil.css");
@import url("discographie.css");

 
:root{  --bg: #1E1E1E ;
        --text: #F8F8F8;
        --primary: #BF0000;
        --primary-alt: #8D0000;
        --secondary: #BCB6AA;
        --secondary-alt:#959188;

        --title: 'Black Ops One', cursive;
        --regular: 'Vollkorn', serif;
    }



html {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

h1 {
    font-family: var(--title);
    text-transform:  uppercase;
    color: #F8F8F8 ;
    font-size: 3.5em !important;
}
